html,
body {
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
}

.login-form {
  width: 100%;
  max-width: 480px;
  padding: 0px 27px 0px 27px;
  margin: auto;

  .input-group {
    height: 50px;
  }

  .signup-button button {
    padding: 12px;
  }

  .form-control:focus {
    box-shadow: unset;
  }

  .remember-me-area {
    height: 40px;
  }
}
