a {
  text-decoration: none;
}

.form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.site-footer .first-child a {
  color: #afaeae;
}

.site-footer .first-child li:last-child a {
  border-right: unset;
}

.site-footer .first-child a:hover {
  color: white;
}

.site-footer .form-control {
  background-color: #e7e7e7;
}

.site-footer .form-control:focus {
  background-color: white;
}
