html,
body {
  height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-form {
  width: 100%;
  max-width: 480px;
  padding: 0px 27px 0px 27px;
  margin: auto;
}

.login-form .input-group {
  height: 50px;
}

.login-form .signup-button button {
  padding: 12px;
}

.login-form .form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.login-form .remember-me-area {
  height: 40px;
}
